.about-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.about-container h1{
  margin-bottom: 0;
}

.about-container p{
  width: 40vw;
  font-size: 12px;
  text-align: center;
  color: gray;
}

.project-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.project-container h1{
  text-align: center;
}