:root{
  --green: rgb(45, 168, 45);
  --black: black;
  --grey: rgb(49, 46, 46);
}

.dash-sidebar{
  width: 100%;
}

.dash-profile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.dash-profile .profile-pic-container{
  position: relative;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 30px;
  cursor: pointer;
}

.dash-profile .profile-pic-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid var(--green);
}

.dash-profile .profile-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.dash-profile .profile-form input{
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  padding-left: 10px;
  width: 100%;
}

.dash-profile .profile-form-p{
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.dash-profile .profile-form-p p{
  color: red;
  cursor: pointer;
}

.dash-profile .profile-form-p p:hover{
  text-decoration: underline;
}

.dashboard-container{
  width: 100%;
  display: flex;
}

.dashboard-container .left-dashboard{
  background-color: rgba(124, 117, 117, 0.1);
  width: 15%;
  padding: 10px;
}

.dashboard-container .left-dashboard.lights{
  background-color: rgba(124, 117, 117, 0.3);
 
}



.dashboard-container .right-dashboard{
  width: 90%;
}

.dash-sidebar .profile{
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.dash-sidebar .profile:hover{
  background-color: rgba(113, 112, 112, 0.5);
}

.dash-sidebar .profile.active{
  background-color: rgba(113, 112, 112, 0.5);
}

.dash-sidebar .profile a.darks{
  color: black;
}

.dash-sidebar .profile a{
  text-decoration: none;
  color: white;
  
}
.dash-sidebar .profile p{
  margin: 0;
}

.dash-sidebar .profile svg{
  margin-right: 15px;
}

.dash-sidebar .profile span{
  position: absolute;
  right: 10px;
  background-color: var(--green);
  color: white;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.dash-sidebar .profile-sign{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

.dash-sidebar .profile-sign p{
  margin: 0;
}

.dash-sidebar .profile-sign:hover{
  background-color: rgba(113, 112, 112, 0.5);
}

.dash-sidebar .profile-sign svg{
  margin-right: 15px;
}

.profile-form-btn{
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  background-color: var(--green);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.profile-form-btn:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
}

.profile-form-btn.lights:hover{
  background-color: var(--grey);
  color: white;
}

p.update-error{
  background-color: rgb(243, 195, 195);
  color: red;
  padding: 15 5px;
  font-size: 12px;
  width: 40%;
  text-align: center;
}

p.update-success{
  background-color: rgb(199, 239, 199);
  color: green;
  padding: 5 10px;
  font-size: 12px;
  width: 40%;
  text-align: center;
}

.file-upload{
  background-color: rgb(241, 196, 196);
  color: red;
  padding: 5 10px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.delete-modal-container{
  background-color: white;
  width: 400px;
  height: 250px;
  position: absolute;
  border-radius: 5px;
  color: black;
  /* border: 1px solid black; */
  box-shadow: 0 0 30px rgba(94, 89, 89, 0.5);
}

.delete-modal{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.delete-cls-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.delete-cls-btn:hover{
  color: white;
  background-color: red;
  border-radius: 50%;
  
}

.delete-info-btn{
  font-size: 35px;
  color: red;
}

p.delete-txt{
  font-size: 14px;
}

.delete-btn-lnr button{
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  
}

.delete-btn-lnr button.delete-left-btn{
  background-color: rgb(208, 50, 50);
}

.delete-btn-lnr button.delete-left-btn:hover{
  background-color: rgb(169, 27, 27);
}

.delete-btn-lnr button.delete-right-btn{
  border: 1px solid gray;
  color: black;
}

.delete-btn-lnr button.delete-right-btn:hover{
  background-color: gray;
}


a button.profile-form-btn.create-post{
  background-color: black;
  margin-top: 15px;
  transition: all 0.2s ease;
}

a button.profile-form-btn.create-post:hover{
  background-color: var(--green);
  border: 0;
}

.profile-form-btn.create-post-lit{
  background-color: white;
  color: black;
  margin-top: 15px;
  transition: all 0.2s ease;
}

.profile-form-btn.create-post-lit:hover{
  background-color: var(--grey);
  color: white;
}

