:root{
  --green: rgb(45, 168, 45);
  --black: black;
  --grey: rgb(49, 46, 46);
}

.dashboard-table-container{
  table-layout: auto;
  overflow-x: scroll;
  padding: 20px;
}

table.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
 
  box-shadow: 0 0 30px rgba(94, 89, 89, 0.5);
}


.dashboard-table th,
.dashboard-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.dashboard-table thead {
  /* background-color: #f2f2f2; */
  background-color: var(--green);
}

/* .dashboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* .dashboard-table tr:hover {
  background-color: #ddd;
} */

.dashboard-table tr.lights:hover {
  background-color: rgba(142, 139, 139, 0.3);
}

.table-img{
  display: flex;
  justify-content: center;

}
.dashboard-table tr td img{
  width: 70px;
  height: 40px;
  object-fit: cover;
}

.dashboard-table tr td.usertable-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.isadmin-btn{
  display: flex;
  justify-content: center;
}

.isadmin-btn svg:first-child{
  color: red;
}

.isadmin-btn svg.mark{
  color: green;
}

.usertable-img{
  display: flex;
  justify-content: center;
}

.table-title{
  text-decoration: none;
  color: black;
}

.table-title.lights{
  color: white;
}

.table-title:hover{
  text-decoration: underline;
}

.table-edit{
  color: var(--green);
  text-decoration: none;
  transition: all 0.2s ease;
}

.table-edit:hover{
  text-decoration: underline;
}


.table-delete{
  color: red;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.table-delete:hover{
  text-decoration: underline;
}

.show-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

button.show-more-btn{
  background-color: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  background-color: var(--green);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button.show-more-btn:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
}

button.show-more-btn.lights:hover{
  background-color: var(--grey);
  color: white;
}


