:root{
  --green: rgb(45, 168, 45);
  --black: black;
  --grey: rgb(49, 46, 46);
}


.signup-container{
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  width: 100%;
}

.form-div{
  display: flex;
  flex-direction: column;
}

form .form-div input{
  border: 1px solid black;
  height: 35px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 10px;
}

.form-div label{
  margin-bottom: 5px;
  font-weight: bold;
}

.left-signup{
  width: 30vw;
}

.left-signup img{
  margin-left: -8px;
  margin-bottom: -10px;
}

.left-signup p{
  margin: 0;
  font-size: 15px;
}

.right-signup{
  width: 25vw;
  margin-left: 20px;
}

.right-signup p{
  font-size: 14px;
}

.right-signup p a{
  text-decoration: none;
  color: var(--green);
}

.right-signup p a:hover{
  color: black;
  text-decoration: underline;
}

.right-signup p.signin-theme a:hover{
  color: white;
  text-decoration: underline;
}

.signup-btn{
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  background-color: var(--green);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.signup-btn:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
}

.signup-btn.black:hover{
  background-color: var(--grey);
  color: white;
}


.signup-btn2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 40px;
  color: black;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 15px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.signup-btn2.black:hover{
  background-color: var(--grey);
  color: white;
}

.signup-btn2:hover{
  background-color: black;
  color: white;
}

.signup-btn2 svg{
  margin-right: 10px;
  font-size: 18px;
}

.error-msg{
  color: red;
  margin-top: 0;
}


